@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CorkyID!</h1>
</div>
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-3">Deal of the Month</h1>
            <p class="lead">Take 20% off your bill at Nandos by showing CorkyID to your server at the checkout.</p>
        </div>  
    </div>

    <div class="card-columns">
        @foreach (var item in Model.Discounts)
        {
            <div class="card">
                <img class="card-img-top" src="@item.LogoURL" style="width:inherit;height:150px;" alt="Logo of business">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelitem => item.RetailerName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelitem => item.DiscountDescription)</p>
                    <p class="card-text"><small class="text-muted">Last updated: @Html.DisplayFor(modelitem => item.LastUpdated)</small></p>
                    <a class="btn btn-primary mb-2" href="@item.RedirectURL">Get Now</a>
                </div>
            </div>
        }

        </div>