@page
@model CorkyID.SchemeIndexModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h1>View Schemes</h1>
<p>
    <a class="btn btn-outline-info btn-sm" asp-page="./SchemeCreate">Create New Scheme</a>
</p>
<br />
<table class="table table-striped">
    <caption>List of all active schemes</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Schemes[0].Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Schemes[0].ValidFromDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Schemes[0].ValidToDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Schemes[0].SchemeDescription)
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Schemes)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidFromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SchemeDescription)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (item.OwnerID == Guid.Parse(this.User.FindFirstValue(ClaimTypes.NameIdentifier)))
                    {
                        <td>
                            <a class="btn btn-outline-info" asp-page="./SchemeDetails" asp-route-id="@item.SchemeID">Manage</a>
                        </td>
                    }
                    else
                    @if (await Model.IsUserEnrolled(this.User.FindFirstValue(ClaimTypes.NameIdentifier), item.SchemeID))
                    {
                        <td>
                            <a class="btn btn-outline-warning" asp-page-handler="UnassignUser" asp-route-id="@item.SchemeID">Leave</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-outline-success" asp-page-handler="AssignUser" asp-route-id="@item.SchemeID">Join</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
