@page
@model CorkyID.SchemeDetailsModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h1>Scheme Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.ValidFromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.ValidFromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.ValidToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.ValidToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.SchemeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.SchemeDescription)
        </dd>
    </dl>
    <div class="btn-group-vertical">
        <a class="btn btn-outline-info" role="button" asp-page="./SchemeEdit" asp-route-id="@Model.Schemes.SchemeID" style="margin-bottom: 5px">Edit Scheme Details</a>
        <a class="btn btn-danger" role="button" asp-page="./SchemeDelete" asp-route-id="@Model.Schemes.SchemeID"> Delete Scheme</a>
    </div>

    <hr />

    <div class="container">
        <h3>Users Enrolled</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 350px">User ID</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SchemeUsers)
                {
                    <tr>
                        <td scope="col" style="width: 350px">
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td scope="col">
                            @Model.GetUserEmail(item.UserID)
                        </td>
                        <td>
                            <a class="btn btn-primary mb-2">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />

    <div class="container">
        <label for="tx_EmailEntry">Enter Email Address of new user</label>
        <div class="form-group mb-2">
            <input class="col-sm-2 col-form-label" id="tx_EmailEntry" name="emailEntry" type="text" placeholder="Enter Email Address" />
            <a class="btn btn-outline-info" role="button" asp-page-handler="AddNewUser" asp-route-email="emailEntry">Add</a>
        </div>

    </div>
    <hr />
</div>
<div>
    <a asp-page="./Index">Go Back</a>
</div>
