@page
@model CorkyID.SchemeDetailsModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<h1>Scheme Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.ValidFromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.ValidFromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.ValidToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.ValidToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schemes.SchemeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schemes.SchemeDescription)
        </dd>
    </dl>
    <div class="btn-group">
        <a class="btn btn-outline-info" role="button" asp-page="./SchemeEdit"  asp-route-id="@Model.Schemes.SchemeID">Edit Scheme</a>
        <a class="btn btn-outline-danger" role="button" asp-page="./SchemeDelete" style="margin-left: 10px" asp-route-id="@Model.Schemes.SchemeID"> Delete Scheme</a>
    </div>

    <hr />

    <div class="container">
        <h3>Users Enrolled</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 350px">User ID</th>
                    <th scope="col">User Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SchemeUsers)
                {
                    <tr>
                        <td scope="col" style="width: 350px">
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td scope="col">
                            @Model.GetUserEmail(item.UserID)
                        </td>
                        <td>
                            <a class="btn btn-primary mb-2">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />
</div>
<div>
    <a class="btn btn-outline-warning" asp-page="./Index">Go Back</a>
</div>
