@page
@model CorkyID.DiscountDetailsModel
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container">
    <h4 class="text-center">@Html.DisplayFor(model => model.Discount.RetailerName)</h4>
    <hr />

    <div class="text-center">
        <img class="rounded" style="height:320px; width:620px" src="@Model.Discount.LogoURL" />
    </div>

    <br />
    <div>
        <div class="text-center text-">
            <strong>@Html.DisplayFor(model => model.Discount.DiscountDescription)</strong>
        </div>
        <br />
        <div class="text-center">
            Click the button below to activate this discount.
        </div>
        <br />
        <div class="text-center">
            <a class="btn btn btn-outline-success" role="button" href="@Model.Discount.RedirectURL">Get Discount Now</a>
        </div>
    </div>

    @if (await Model.IsUserOwner(this.User.FindFirstValue(ClaimTypes.NameIdentifier), Model.Discount.DiscountID))
    {
        <br />
        <div class="text-center">
            <h4>Discount Management</h4>
            <hr />
            <a class="btn btn-outline-info" role="button"  asp-page="./DiscountEdit" asp-route-id="@Model.Discount.DiscountID">Edit Discount</a>
            <a class="btn btn-outline-danger" style="margin-left:10px" role="button" asp-page="./DiscountDelete" asp-route-id="@Model.Discount.DiscountID">Delete Discount</a> 
        </div>
    }
</div>
<hr />
<div>
    <a class="btn btn-outline-warning" role="button" asp-page="./Index" style="margin-top:10px">Go Back</a>
</div>
